.header {
    height: $header-height;
    text-align: right;
    background-color: #1E1E1E;
    border-bottom: 1px solid gray;

    .brand-logo {
        float: left;
        height: $header-height;
        font-size: 20px;
        font-weight: 100;
        padding-left: 110px;
        padding-top: 21px;

        &:hover {
            color: initial;
        }

        Link {
            text-decoration: none !important;
        }

        span {
            color: white;
            margin-left: 10px;
            font-family: 'Montserrat', Helvetica;
            display:inline-block;
        }

        img {
            position: absolute;
            top: 20px;
            left: 10px;
            max-width: 100px;
        }

        a {
            i {
                color: #d9534f;
                font-size: 40px;
            }
        }
    }
}

@media only screen and (max-width : $tablet) {
    .header {
        height: 60px;

        .brand-logo {
            height: 60px;
            font-size: 18px;
            padding-top: 18px;

            img {
                top: 16px;
            }

            a {
                i {
                    font-size: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width : $x-small) {
    .header {
        .brand-logo {
            font-size: 0;
        }
    }
}
