.number-fact-code {
    margin-bottom: 10px;
    vertical-align: middle;
}

.numbers-error {
    margin: 10px 0;
}

.balance {
    font-size: 20px;
    margin-right: 10px;
}

.tap-form {
    max-width: 500px;
    margin: auto;

    .form-group {
        label {
            float: left;
        }
    }
}
