.number-fact-code {
    margin-bottom: 10px;
    vertical-align: middle;
}

.numbers-error {
    margin: 10px 0;
}

.balance {
    font-size: 20px;
    margin-right: 10px;
}

.tap-form {
    .form-group {
        label {
            float: left;
        }
    }
}

.balance-block {
    strong {
        float: left;
        margin-bottom: 5px;
    }
}

.tap-info {
    text-align: left;
}

.info-button {
    top: 107px;
    right: 49px;
    position: absolute;
}
